body{
    /* padding: 0 2px; */
    /* width: 100%; */
    padding: 0;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: rgb(251, 252, 252);
    box-shadow: 3px 3px 4px rgba(10,0,0,0.75);
    border-radius: 4px;
    border:none;
    margin:0 5px;
    padding: 5px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
} 

/* .header{
    display: flex;
    flex-direction: column;

    background-color: black;
    color: white;
    border-radius: 4px;
    
    margin:0 5px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    left: 0;
} */

.logo-search-pp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo-search-pp button{
    display: none;
    background-color: transparent;
    border: none;
    color: darkblue;
    font-size: larger;
}
.logo-search-pp input{
    height: 40px;
    width: 500px;
    border: solid 2px rgb(186, 182, 182);
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.25);
}
.nav-links{
    display:flex;
    justify-content:space-evenly;
   
    margin: 1.3rem 0;
    margin-top: 10px;
}
.nav-links a{
    text-decoration: none;
    padding: 5px;
    color:black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.5s;
}
.nav-links a:hover{
    box-shadow: 0 0 5px 5px grey;
    scale: 1.4;
  
}
.logo-search-pp img{
    height: 60px;
    border-radius: 50%;
}
main{
    align-items: center;
    vertical-align: center;
    text-align: center;
    background-color: rgb(255, 245, 231);
    padding: 2% 0;
    margin: 0;
    width: 100%;
}
.side-menus{
    z-index: 10000001;
    margin: 0;
    width: 50%;
    height: 100vh;
    background-color: rgb(41, 40, 40);
    padding-right: 20px;
    position: fixed;
    top: 0; 
    left: 0; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    display: none;
    transition: display 0.45s;
}
.side-menus ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
}
ul li{
    transition: margin 0.45s;
    padding:5px 3px;
    margin-bottom: 4px;
    margin-top: 10px;
}
.side-menus button{
    width: fit-content;
    background-color: transparent;
    position: absolute;
    right: 5px;
    padding: 10px 55px;
    border: none;
    color: red;
    margin-bottom: 20px;
    display: block;
}
/* ul li:hover{
    background-color: rgb(195, 195, 195);
    margin-top:15px;
    margin-left: 5px;
}*/
.side-menus li{
    text-decoration: none;
    margin: 10px;
}
.side-menus a{
    text-decoration: none;
    color: beige;
}
img{
    border-radius: 5px;
}
/* needs screen size limitattion*/
.first-pic{
    width: 700px;
    height: 350px;
}
main button{
    position: relative;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
    border-radius: 2px;
    transition: background 0.45s;
}
main button:hover{
    cursor: pointer;
    background: transparent;
    color: antiquewhite;
}
.first-pic-cont{
    padding: 0;
}
/* .first-pic-cont button{
    color: white;
    background-color: rgba(10,0,0,0.75);
} */
.first-pic-cont .save-share{
    position: relative;
    top: -20px;
    left: 400px;
}
.first-pic-cont .save-btn{
    top: -330px;
    left: -50px;
}
.first-pic-cont .share-btn{
    top: -310px;
    left: -80px;
}
.first-pic-cont .like-btn{
    left: 320px;
    top: -55px;
}
.second-pic-cont{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 0 20px;
    align-items: center;
}
.img-desc-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 5px;
    background: rgb(234, 246, 250);
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.45);
    vertical-align: middle;   
}
.img-desc-cont p span{
    display: block;
    font-weight: bolder;
    width: 100%;
}

.img-btn{
    background-color: white;
    /* padding: 5px 7px; */
    border-radius: 5px;
    border: solid 2px rgb(173, 169, 169);
}
.img-desc-cont img{
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
/* .fav-sec-pic{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
} */
.fav-sec-pic .video-cont{
    width: 100%;
}
.fav-sec-pic img{
    width: 100%;
}
.fav-sec-pic .video-cont{
    margin: 0;
    width: 100%;
    padding: 0;
}

.img-btn .img-buttons button{
    background-color: transparent;
}
.video-cont{
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    width: 100%;
    background-color: rgb(185, 221, 232);
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.45);
}
.video-cont h4,p{
    margin: 0;
    text-align: left;
    margin-left: 10px;
}
video{
    width:100%;
}
.third-pics-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 38px;
    margin: 15px 20px  ;
    /* margin-bottom: 20px;
    margin-top: 40px; */
}
.third-pics-cont img{
    height: 100%;
    width: 100%; 
    max-height: 350px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}
.third-pic-btn{
    background-color: white;
    /* padding: 5px;
    padding-bottom: 25px; */
    border-radius: 5px;
    border:none;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.45);
    padding: 0;
}
.third-pic-btn p{
    padding-left: 7px;
}
.third-btn-cont{
    position: relative;
    top: -50px;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(0,0,0,0.25);
    padding: 10px;
}
.third-btn-cont:hover{
    opacity: 1;
}
.detail-info{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.detail-info p{
    margin: 0;
}
.detail-info p span{
    font-weight: bolder;
}
 .pics-collection{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;

}
.pics-collection .collect-like-btn{
    opacity: 0;
    background-color: rgba(0,0,0,0.25);
    transition: opacity 0.5s;
    position: relative;
    top: -30px;
}
.third-pic-btn .opa-sta-0{ 
    opacity: 0;
    background-color: rgba(0,0,0,0.25);
    transition: opacity 0.5s;
    position: relative;
    top: -30px;
}
.third-pic-btn .opa-sta-0:hover{
    opacity: 1;
}
.pics-collection .collect-like-btn:hover{
    opacity: 1;
}
.top-pic img{
    height: 100%;
    width: 100%;  
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.small-pics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
} 
.small-pics img{
    height: 100%;
    max-height: 225px;
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(79, 75, 75);
    height: 5rem;
    color: white;
    width: 100%;
    
}
footer p{
    margin: 0;
}
@media screen and (max-width:930px) {
    
    .second-pic-cont{
        grid-template-columns: 1fr;
        align-items: center;
    }
    .video-cont{
        width: 70%;
        margin-left: 15%;
    }
    .third-pics-cont{
        grid-template-columns: 1fr 1fr;
    }
    .pics-collection{
        margin-left: 0%;
    }
    
}
@media screen and (max-width:768px) {
    nav{
        display: none;
        visibility: hidden;
        height: 0;
    }
    .header{
        margin-bottom: 10px;
    }
    .logo-search-pp button{
        display: block;
    }
    footer{
        margin-top: 20px;
    }
    .third-pics-cont{
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
        margin: 0;
        padding: 2%;
    }
    .second-pic-cont{
        grid-template-columns: 1fr;
        margin: 0;
        align-items: center;
        padding: 2%;
        gap: 10px;
    }
    .fav-sec-pic{
        grid-template-columns: 1fr;
    }
    .first-pic{
        width: 90%;
    }
    .img-desc-cont{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .logo-search-pp input{
        width: 100%;
        
    }
    .collect-like-btn{
        opacity: 1;
    }
    main{
        height: 100%;
        padding:0 2%;   
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    video{
        width: 90%;
    }
   
    .pics-collection{
        margin-bottom: 30px;
    }
    .first-pic-cont .save-share{
        left: 42%;
        top: 0;
    }
    .first-pic-cont .like-btn{
        left: 45%;
    }
    .first-pic-cont .save-btn{
        left: 7%;
    }
    .first-pic-cont .share-btn{ 
        left: 3%;
    }

    /* .logout-update{
        width: 50vh;
    } */
    
}
@media screen and (max-width: 768px) {
   
    .first-pic-cont .save-share{
        left: 37%;
        top: 0;
    }
    .first-pic-cont .like-btn{
        left: 40%;
    }
    .first-pic-cont .save-btn{
        left: 7%;
    }
    /* .first-pic-cont .share-btn{ 
        left:-3%;
    } */
    
}
@media only screen and (max-width:600px) {
    /* .first-pic-cont .save-share{
        left: 40%;
        top: 0;
    } */
    .first-pic-cont .like-btn{
        left: 40%;
    }
    .first-pic-cont .save-btn{
        left: 10%;
    }
    .first-pic-cont .share-btn{ 
        left:-8%;
    }
    .recievers{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .recieve-block{
        margin-top: 2%;
        margin-right: 30%;
        margin-left: auto;
        height: fit-content;
        max-height: 80vh;
        width: 100vw;
        padding-bottom: 10px;
    }
    .recieve-block button{
        padding: 3px 4px;
        width: 100px;
        margin-left: 20px;
    }
}
@media only screen and (max-width:390px){
    .footer{
        display: grid;
        grid-template-columns: 1fr;
    }
    .first-pic-cont .share-btn{ 
        left:0%;
    }
    .first-pic-cont .save-btn{
        left: 8%;
    }

}
@media only screen and (max-width:414px) {
    .first-pic-cont .share-btn{ 
        left:-0.85%;
    }
    .first-pic-cont .save-btn{
        left: 7%;
    }
    .logout-update{
        max-width: 30vw;
        padding: 5px 7px;
    }
    main{
        width: 100%;
    }

}
@media only screen and (width:393px) {
    .first-pic-cont .share-btn{ 
        left:5%;
    }
    .first-pic-cont .save-btn{
        left: 7%;
    }
}
@media only screen and (width:540px) {
    .first-pic-cont .share-btn{ 
        left:1.5%;
    }
    .first-pic-cont .save-btn{
        left: 7%;
    }
}
@media only screen and (width:280px) {
    .first-pic-cont .share-btn{ 
        left:-4%;
    }
    .first-pic-cont .save-btn{
        left: 7%;
    }
}

.recievers{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
    display:grid;
    place-items:center;
    align-items: center;
    z-index:1000000;
}
.recieve-block{
    margin: 2% 5%;
    /* margin-left: 6%; */
    padding: 15px 20px;
    width:80vw;
    max-width:800px;
    height:70%;
    overflow:scroll;
    border-radius:4px;
    background:rgb(10, 10, 10);
    position: relative;
}
.recieve-block li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3px;
    background-color: rgb(50, 49, 49);
    color: beige;
    padding: 13px 10px;
    margin: 0;

    transition: all 0.4325s;
}


.recieve-block .align{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 7px;
}
.recievers ul{
    gap: 1px;
    list-style: none;
    color: rgb(41, 40, 40);
    background-color: rgb(41, 40, 40);
    padding: 15px 10px;
    margin: 0;
    margin-bottom: 65px;
    border: none;
    border-radius: 5px;
}
.up-form{
    background-color: rgb(6, 6, 99);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    gap: 20px;
    color: wheat;
    height: 100%;
    border: solid 2px rgb(2, 2, 57);
    border-radius: 5px;
}
.up-form .flex-horizon{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.recievers button{
    background-color: rgb(0, 197, 0);
    color: white;
    max-width: 1200px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bolder;
    margin-top: 20px;
}
.recieve-block .send-can{
    position: absolute;
    bottom: 10px;
    left: 20px;
    /* height: fit-content;
    width: fit-content; */
    max-width: 800px;
   
    /* padding-top: 20px; */
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
    
}
.recieve-block .cancelled{
    background-color: darkred;
    color: white;
}

li img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.recieve-block li:hover{
    background-color: rgb(41, 40, 40);
    margin: 0;
    padding: 13px 10px;
}
.done{
    display: none;
    visibility: hidden;
    height: 0;
}
.got{
    display: none;
}
 a{
    text-decoration: none;
    color: wheat;
    display: block;
}
footer a:hover{
    text-decoration: underline;
    color: wheat;
}
main{
    height: 100%;
}
.liked{
    background-color: transparent;
    color: red;
}
.liked:hover{
    color: red;
}

.logout-update{
    background-color: rgb(59, 78, 176);
    border: solid 2px rgb(18, 2, 84);
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 5px;
    position: absolute;
    right: 2%;
    top: 27%;
    /* height: 18vh;
    width: 12vw; */
    max-width: 28vw;
    max-height: 26vh;
    padding-right: 15px;
    padding-left: 5px;
    /* opacity: 0; */
    /* display: none; */
    transition: display 0.45s;
}
/* .logout-update:hover{
    opacity: 1;
} */
.logout-update p{
    width: 90%;
    margin-top: 5px;
    transition: all 0.45s;
    cursor: pointer;
    background-color: rgb(14, 2, 91);
    color: rgb(234, 246, 250);
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.logout-update p:hover{
    background-color: rgb(41, 40, 40);
   
}



.search{
    position:fixed;
    top:6rem;
    left:0rem;
    width:95vw;
    height:85vh;
    background:rgb(167, 197, 222);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items:center;
    align-items: center;
    z-index:1000000;
    overflow: scroll;
    border: solid rgb(0, 78, 142) 2px;
    margin:auto 2%;
    padding-bottom: 16rem;
    padding-top: 40px;
    
}
.search img{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
@media screen and (max-width:600px) {
    .search{
        grid-template-columns: 1fr;
        padding: 20px 2%;
        margin: auto 5%;
    }
    main{
        overflow-x: hidden;
    }
    .search img{
        width: 250px;
    }
}
@media screen and (max-width:930px) {
    .search{
        grid-template-columns: 1fr 1fr;
        margin:auto 5%;
    }
    main{
        overflow-x: hidden;
    }
    
}
.search .cancelled{
    background-color: darkred;
    color: white;
    display: block;
    border: none;
}
.pos-rel{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: x-large;
}

.search .detail-info{
    padding-bottom: 10px;
}
.the-search button{
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.search img{
    max-width: 450px;
    max-height: 250px;
    width: 300px;
    height: 200px;
}
.search .mb-0{
    margin-bottom: 0;
}
