main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(42, 41, 41);
    height: 600px;
    color: white;
    font-family: monospace;
    margin: 0 20%;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0;
}
img{
    height: 160px;
    border-radius: 50%;
    /* margin: 40px;
    margin-bottom: 10px; */
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    align-items: center;
}
button{
    text-decoration: none;
    background-color: rgb(0, 100, 194);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px ;
    margin-bottom: 50px;
    max-width: 250px;
    min-width: 150px;
}
button:hover{
    cursor: pointer;
    opacity: 0.85;
}
a{
    text-decoration: none;

}
.grid-labels{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    justify-content: space-around;
    gap: 15px;
    text-align: center;
    align-items: center;
}
input{
    height: 25px;
    max-width: 250px;
}
.not-entered{
    display: none;
}
.wrong-cred{
    display: none;
}
.forget-pass{
    /* color: black; */
    /* background-color: aliceblue; */
    margin: 0;
}
.forget-pass:hover, .signup:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    .grid-labels{
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
    }
}
@media only screen and (max-width:280px) {
    button{
        width: 100px;
    }
    input{
        width: 150px;
    }
}
.recievers{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
    place-items:center;
    align-items: center;
    z-index:1000000;
}
.image__cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6%;
}
.flex-horizon{
    display: flex;
    padding: 2px 5px;
    justify-content: space-between;
    align-items: center;
}
.recieve-block{
    margin-left: 15%;
    padding: 15px 20px;
    width:60vw;
    max-width:800px;
    height:100%;
    border-radius:4px;
    background:rgb(23, 23, 23);
    color: white;
}
.recieve-block input{
    background-color: rgb(57, 57, 57);
    border: solid 2px rgb(89, 89, 89);
    border-radius: 3px;
    color: white;
}
 .signup{
    color: blue;
    text-decoration: none; 
    background-color: transparent;
    border: none;  
    margin-bottom: 0;
}
#email2{
    margin-left: 30px;
}
.conf-pass{
    text-align: left;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.but-cont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.only-create{
    /* max-width: 80px; */
    width: 10px;
}
.cancelled{
    color: white;
    background-color: red;
}
.doesn-match{
    margin-top: 5px;
    text-align: center;
}
.done{
    display: none;
}
.got{
    display: none;
}
@media screen and (max-width: 450px) {
    .but-cont{
        flex-direction: column;
        align-items: center;
    }
}